[Unit]
Description=CFEngine Monitoring Daemon
After=syslog.target

[Service]
Type=forking
ExecStart=/var/cfengine/bin/cf-monitord
Restart=always
StartLimitInterval=5min
StartLimitBurst=5
RestartSec=10s


[Install]
WantedBy=multi-user.target

